@model AppWeb_Astro.Models.Astronauta

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles de Astronauta</h1>

<div>
    <h4>Astronauta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Redes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Redes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagenUrl)
        </dd>
        <dt class="col-sm-2">
            Misiones
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var mision in Model.MisionEspacials)
                {
                    <li>
                        @mision.Nombre
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>